@font-face {
    font-family: MK11;
    src: url("./styleSheets/fonts/MK11.otf") format("opentype");
}
@font-face {
    font-family: MK3;
    src: url("./styleSheets/fonts/MK3.ttf") format("truetype");
}
 body{
    background-color: black;
 }

 h2 {
     color: white;
     font-family: MK3;
 }

@import url("./styleSheets/selection/Create.css");
@import url("./styleSheets/selection/GameSelect.css");
@import url("./styleSheets/selection/NavBar.css");
@import url("./styleSheets/selection/ViewSelect.css");

@import url("./styleSheets/NoteCard.css");
@import url("./styleSheets/NoteForm.css");