.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(#404040,#202020)
    }
    
.nav ul li {float: left;}

.nav ul li a{
    font-family:MK11;
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav ul li {
    height: auto ;
    margin-top: auto;
    margin-bottom:auto;
}

.nav ul li p{
    font-family:MK11;
    display: block;
    color:white;
    text-align: center;
    text-decoration: none;
}

.nav ul li a:hover{
    background-color: gold;
    color:black;
}

.nav ul li a.active {background-color: red; color: black;}

.nav ul li.right {float: right;}

@media screen and (max-width: 600px) {
.nav ul li.right, 
.nav ul li {float: none;}
}