#info {
    text-align: center;
}

.container {
    display: flex;
}

.container .child a {
    color: white;
    font-family: MK11;
    text-decoration: none;
}

.child {
    flex: 1;
    text-align: center;
}  
.solo{
    height: 125px;
    padding: 25px;
}
.vs {
    height: 125px;
    padding: 25px;
}
#vs{
    width: 100px;
}

#p2{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#info {
    font-family: MK3;
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }
